/* controller.css */

.buttons{
  position: relative;
    width: 400px;
    top: 250px;
    font-size: calc(10px + 2vmin);
    color: rgb(0, 0, 0);
    left: 305px; /* Adjust as needed to nudge left */
}

.bodyWindow{
  color: none;
  border: none;
  background: none;
  z-index: 150;
  position: absolute;
  right: 220px;
  top: 280px;
  height: 250px;
}

.xrectangle {
  position: absolute;
  height: 20px;
  top: -316px;
  z-index: 85;
  left: -2px; /* Adjust as needed to nudge left */
}

.yRectangle{
  transform: rotate(-180deg);
  position: absolute;
  top: 180px;
  right: 700px;
  z-index: 80;
  width: 22px;
}

.frontBar{
  pointer-events: none;
  position: relative;
  top: -197px;
  z-index: 90;
  right: 210px; /* Adjust as needed to nudge left */
  height: 25px;
  width: 142px;
}

.yFrontBar{
  transform: rotate(90deg);
  pointer-events: none;
  position: relative;
  top: -60px;
  right: 208px;
  z-index: 90;
  width: 132px;
}

.eyeContainer{
  position: relative;
  top: 150px;
}

.eyeWindow{
  pointer-events: none;
  position: absolute;
  top:-166px;
  z-index: 45;
  right: 220px;
}

.mouthWindow{
  pointer-events: none;
  position: absolute;
  top:700px;
  z-index: 55;
  right: 220px;
}

.y-rectangle-image {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 235px;
  top: 283px;
}

.x-rectangle-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 126px;
  z-index: 45;
  right: 13px;
}

.legs{
  position: relative;
    z-index: 60;
    top: 550px;
    right: 175px; /* Adjust as needed to nudge left */
}

.sliders{
    position: relative;
    font-size: calc(10px + 2vmin);
    right: 215px; /* Adjust as needed to nudge left */
    z-index: 20;
    top: 250px;
}

.eyeY{
    position: relative;
    left: -65px; /* Adjust as needed to nudge left */
    top: -105px; /* Adjust as needed to nudge upward */
}

.yLabel{
    position: relative;
   left: 54px;
   top: 50px;
    align-self: 100;
}
.ySlider {
    position: relative;
    font-size: calc(10px + 2vmin);
    transform: rotate(270deg); /* Rotate slider vertically */
    left: 5px; /* Adjust as needed to nudge left */
    z-index: 20;
  }

.stand_button{
  color: none;
  border: none;
  background: none;
  z-index: 90;
  position: absolute;
  top: 470px;
  right: 450px;
  height: 130px;
}

.bend_button{
  color: none;
  border: none;
  background: none;
  z-index: 140;
  position: absolute;
  top: 550px;
  right: 420px;
  height: 130px;
}


.bend_button:hover{
   height: 120px;
 }
 

  .stand_button:hover{
 position: absolute;
  height: 120px;
}

  .forward_button {
    color: none;
    border: none;
    background: none;
    z-index: 90;
    position: absolute;
    top: -390px;
    right: 90px;
  }

  .backward_button{
    color: none;
    border: none;
    background: none;
    z-index: 90;
    position: absolute;
    top: -40px;
    right: 90px;
  }

  .right_button{
    color: none;
    border: none;
    background: none;
    z-index: 90;
    position: absolute;
    right: -60px;
    top: -235px;
  }

  .left_button {
    color: none;
    border: none;
    background: none;
    z-index: 90;
    position: absolute;
    top: -240px;
    right: 320px;
    height: 140px;
  }
  
  .left_button:hover {
    height: 180px;
    top: -260px;
    width: 100px;
  }
  
  
  .crawlright:hover {
    height: 140px;
  }
  
  .crawlforward {
    height: 70px;
  }
  
  .crawlforward:hover {
    height: 75px;
  }
  
  .crawlbackward {
    height: 70px;
  }
  
  .crawlbackward:hover {
    height: 75px;
  }

  .eyelid{
    position: relative;
    left: 210px; /* Adjust as needed to nudge left */
    top: -295px; /* Adjust as needed to nudge upward */
  }
  .lidLabel{
    position: relative;
    left: 145px;
    top: 50px;
     align-self: 100;
  }
  .lidSlider{
    position: relative;
    transform: rotate(270deg); /* Rotate slider vertically */
  }

  .blinkbutton{
    color: none;
    border: none;
    background: none;
    z-index: 110;
    position: absolute;
    right: 30px;
    top: -235px;
    height: 85px;
  }

  .blinkbutton:hover {
    height: 90px;
    position: absolute;
    
  }

  .stretcher{
    color: none;
    border: none;
    background: none;
    z-index: 140;
    position: absolute;
    right: 50px;
    top: 555px;
    height: 100px;
  }
  
  .stretcher:hover{
    position: absolute;
    height: 110px;
  }

  .xLabel{
    position: relative;
    left: 105px;
    top: 50px;
  }

.xSlider{
    position: relative;
    left: 15px;
    top: 20px;
    z-index: 20;
}

.mouth_button{
  color: none;
  border: none;
  background: none;
  position: absolute;
  right: 230px;
  top: 930px;
  z-index: 55;
  height:100px;
}

.mouth_button:hover{
  position: absolute;
  height:105px;

}