


  .connect{  
    min-height: 100px;
    position: relative;
    font-size: 20px;
    left: 20px; /* Adjust as needed to nudge left */
    top: -45px;
    z-index: 50;
    color: rgb(255, 255, 255);

  }

  